

footer{
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
}


.social-icon{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.X,.insta{
    border-radius: 50%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1;
    min-width: 200px;
    padding-left: 20px;
     /* background-color: #8a1f1f;   */
}

.about{
    margin-bottom: auto;
    text-align: center;
}

.rights-text{
    text-align: center;
    font-size: 14px;
    color: #888;
}

.customer-services{
    text-align: center;
    margin-bottom: auto;
    margin-left: 200px;
}

.social-media{
    text-align: center;
    margin-bottom: auto;
    margin-right: 200px;
}

ul{
    list-style: none;
    margin-right:50px ;
}

li{
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    footer{
        text-align: center;
    }
    .social-media, .customer-services{
        margin: 0 auto;
    }
}