body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0 ;
    padding: 0;
    min-height: 100vh;
}

header{
    background:linear-gradient(90deg,#00E0FF, #6c3bff);
}

.first-line{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 768px) {
    .first-line{
        flex-direction: column;
        align-items: center;
    }
    
}

.second-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.logo{
    display: flex;
}
.logo-button{
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.logo-text{
    color: rgb(130, 20, 204);
    justify-self:flex-end;
}

.logo-img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.account{
    background-color: #00E0FF;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    color: black;
    font: 18px Arial, sans-serif;
}

.account:hover{
    background-color: #a82fd8;
    color: black;
}

.login-signup-search{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin:10px;
    font-size: 20px;
}

a:hover{
    color: rgb(130, 20, 204);
}

.search-input{
    padding: 5px;
    border: #00E0FF solid 1px;
    border-radius: 7px;
    background-color: #1E1E1E;
    color: white;
    margin-right: 20px;
}

.search-input:focus{
    outline: none;
    border-color: #a82fd8;
}