
.about-main{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.about-hero{
    background: linear-gradient(135deg, #6c3bff, #00e0ff);
    text-align: center;
    padding: 80px 60px;
    color: white;
    border-radius: 10px;
    margin-bottom: 60px;
}

.about-hero h1{
    font-size: 48px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

h2{
    color: #6c3bff;
    margin-bottom: 20px;
    font-size: 28px;
}

h3{
    color: #6c3bff;
}

.about-content{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 30px;
}

.mission-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px 20px;
}

@media(max-width: 768px) {
    .mission-grid{
        grid-template-columns: 1fr;
    }
}

.mission-card{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease
    , background 0.3s ease;
}

.mission-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg,#00e0ff ,#6c3bff );
}