
main{
   
    background:linear-gradient(0deg, #11aa96,#6c3bff);
    margin: 0 auto;
    max-width: 1600px;
    overflow: auto;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: #6c3bff;
    
}

.album-img-right {
    display: flex;
    float: right;
    height: auto;
    margin: 20px;
    clear: both;
    
}

.album-img-left {
    display: flex;
    float: left;
    height: auto;
    margin: 20px;
    clear: both;
}

.album-img-right p, .album-img-left p{
    width: 51%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10%;
    font-size: 48px;
    color: #00E0FF;
}

.album-img-left img, .album-img-right img {
    width: 50%;
}