
main{
   
    background:#6c3bff;
    margin: 0 auto;
    max-width: 1600px;
    overflow: auto;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: #6c3bff;
}

.album-img-right {
    float: right;
    width: 700px;
    height: auto;
    margin: 20px;
    clear: both;
}

.album-img-left {
    float: left;
    width: 700px;
    height: auto;
    margin: 20px;
    clear: both;
}

.album-img-left img, .album-img-right img {
    width: 100%;
}