.contact-section{
    background: rgb(0, 0, 0);
    text-align: center;
    max-width: 1600px;
    background: #000000;
    margin: 0 auto;
    
}

.contact-section h1{
    font-size: 3rem;
    margin-top: 2rem;
    color: #6c3bff;
}

.contact-section p{
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #00e0ff;
}

.contact-info{
    background: linear-gradient(135deg, #2bf76f, #6c3bff);
    padding: 2rem;
    border-radius: 10px;
}

.contact-info p{
    color: #00e0ff;
}
