
.FAQ-main{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.FAQ-title{
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 80px;
    color: #00e0ff;
}

.FAQ-subtitle{
    color: #0bebb3;
    margin-bottom: 20px;
    font-size: 28px;
}

.FAQ-question{
    color: #6c3bff;
    font-size: 22px;
    margin-left: 30px;
}

.FAQ-answer{
    background-color: white;
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s ease
}

.FAQ-answer:hover{
    background: linear-gradient(135deg, #00e0ff, #6c3bff);
}

.FAQ-content{
    margin-bottom: 80px;
}