

/*Main content-------------------------------------------------------- */

.main-content{
    flex:1 ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    background-color: #0c0808;
}

@media (max-width: 768px){
    .main-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px){
    .main-content{
        grid-template-columns: 1fr;
    }
}

.product-container{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5% 5% 0 5%;
    border-radius: 10px;
    color: white;
}

.product-container p{
    font-size: 1.5em;
    color : #00E0FF;
    margin-top: -1vh;
    }

.product-img{
    width: 100%;
    max-width: 300px;
    height: 20vh;
    border-radius: 10px;
}

.product-container button{
    margin-top: -5px;
    padding: 10px 20px;
    background-color: #00E0FF;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.product-container button:hover{
    background-color: #a82fd8;
}
