

/*Main content-------------------------------------------------------- */

.main-content{
    flex:1 ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    background-color: #0c0808;
}

@media (max-width: 1068px){
    .main-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 680px){
    .main-content{
        grid-template-columns: 1fr;
    }
}

.product-container{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    border-radius: 10px;
    color: white;
}

.product-container p{
    font-size: 1.5em;
    color : #00E0FF;
    margin-top: -1vh;
    }

.product-img{
    width: 100%;
    max-width: 300px;
    height: 20vh;
    border-radius: 10px;
    margin: 0 -2vh -4vh 0;
}

.product-container button{
    margin-top: -5px;
    padding: 10px 20px;
    background-color: #00E0FF;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.product-container button:hover{
    background: #a82fd8;
    
}

main h1{
    color: #00E0FF;
    text-align: center;
    font-size: 48px;
    margin: 50px auto;
}

.port-best{
    background: linear-gradient(135deg, #00E0FF,#a82fd8);
    padding-bottom: 40px;
    max-width: 1500px;
    margin: 70px auto;
    border-radius: 20px;
}

.port-best h2{
    color: #a82fd8;
    text-align: center;
    font-size: 35px;
    margin: 30px auto;
    padding-top: 40px;
}
