
.privacy-main{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.main-title{
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    color: #00e0ff;
}


.privacy-section-title{
    color: #6c3bff;
    font-size: 22px;
    margin-left: 30px;
}

.privacy-answer{
    background-color: white;
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s ease
}

.privacy-answer:hover{
    background: linear-gradient(135deg, #00e0ff, #6c3bff);
}

.privacy-content{
    margin-bottom: 80px;
}

.answer-title{
    color: #000000;
    margin-bottom: 10px;
    font-size: 20px;
}

/* 
table {
    width: 98%;
    margin-top: 20px;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #000000;
} */

.attr-text{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 0 0;
}

.attr-text:hover{
    color: #6c3bff;
    text-decoration: underline;
}
